<%- include('p/header'); -%>
<meta property="og:title" content="AJ Daniel" />
<meta property="og:description" content="Happy Birthday & Wedding Anniversary Wishes" />
<meta property="og:image" content="images/ajlogo.png" />
<link rel="icon" type="image/png" href="images/ajlogo.png">
<title>Happy Birthday & Wedding Anniversary Wishes</title>
</head>
<body>
<%- include('p/navbar'); -%>
<div class="text-center">
    <div class="container">
        <img src="images/home.png" class="img-fluid" alt="Responsive image">
    </div>
</div>

<%- include('p/footer'); -%>