body{
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.default-bg{
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-birthday{
    margin-top: 15%;
}
.button-birthday{
    /* margin-top: 11%; */
    width: 300px;
}

.bible{
    color: #7d0633;
    font-weight: bold;
    font-family: 'Chilanka', cursive;
    font-size: 1.5rem;
}

.basel{
    font-family: 'Gayathri', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

.wish{
    font-family: 'Chilanka', cursive;
    font-weight: bold;
    font-size: 2rem;
    background: linear-gradient(to right,#1a2a6c, #b21f1f, #1a2a6c 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}

.hb{
    font-family: 'Lobster', cursive;
}

.card-title{
    font-family: 'Pathway Gothic One', sans-serif;
}